<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<object th:include="fragments/fragment :: header" th:remove="tag"></object>
	</head>
	
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		
		<h2>Hello!</h2>
		
		<h3>Tambah Mobil</h3>
		<br>
		
		<form th:action="@{/car/add/{id}(id=${dealerId})}" th:object="${dealer}" method="POST">
			<!-- <input type="hidden" th:field="*{id}"> -->
			<table>
				<thead>
					<tr>
						<th>Brand</th>
						<th>Type</th>
						<th>Price</th>
						<th>Amount</th>
						<th>
							<button type="submit" name="addRow">Tambah</button>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="car, rowStat : *{listCar}">
						<td>
							<input type="text" name="brand" th:field="*{listCar[__${rowStat.index}__].brand}" />
						</td>
						<td>
							<input type="text" name="type" th:field="*{listCar[__${rowStat.index}__].type}" />
						</td>
						<td>
							<input type="number" name="price" th:field="*{listCar[__${rowStat.index}__].price}" />
						</td>
						<td>
							<input type="number" name="amount" th:field="*{listCar[__${rowStat.index}__].amount}" />
						</td>
						<td>
							<button type="submit" name="removeRow" th:value="${rowStat.index}">Hapus</button>
						</td>
					</tr>
				</tbody>
			</table>
			<button type="submit" name="save">Tambah Mobil</button>
		</form>
		
		<!-- <form th:action="@{/car/add}" th:object="${car}" method="POST">
			<input type="hidden" th:field="*{dealer}" />
			
			Brand: <br>
			<input type="text" name="brand" />	
			<br>
			
			Type: <br>
			<input type="text" name="type" />
			<br>
			
			Price: <br>
			<input type="number" name="price" />
			<br>
			
			Amount: <br>
			<input type="number" name="amount" />
			<br><br>
			
			<button type="submit" name="save">Submit</button>
		</form> -->
	</body>
</html>