<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Add Car</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		
		<h2>Hello!</h2>
		
		<h3>Tambah Mobil</h3>
		<br>
		
		<form th:action="@{/car/delete}" th:object="${dealer}" method="POST">
			<table class="text-center">
				<thead>
					<tr>
						<th>Brand</th>
						<th>Type</th>
						<th>Price</th>
						<th>Amount</th>
						<td><a class="btn btn-primary">sadasd</a></td>
					</tr>
				</thead>
			</table>
		</form>
		
		
		<form th:action="@{/car/add}" th:object="${car}" method="POST">
			<input type="hidden" th:field="*{dealer}" />
			
			Brand: <br>
			<input type="text" name="brand" />	
			<br>
			
			Type: <br>
			<input type="text" name="type" />
			<br>
			
			Price: <br>
			<input type="number" name="price" />
			<br>
			
			Amount: <br>
			<input type="number" name="amount" />
			<br><br>
			
			<button type="submit">Submit</button>
		</form>
	</body>
</html>