<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>View Dealer</title>
	</head>
	<body>
		<h3 th:text="'Alamat: ' + ${dealer.alamat}"></h3>
		<h3 th:text="'Telepon: ' + ${dealer.noTelp}"></h3>
		<a th:href="@{/car/add/{id}(id=${dealer.id})}">Add car</a>
		<br>
		<br>
		<table>
			<tr>
				<th>Count</th>
				<th>Brand</th>
				<th>Type</th>
				<th>Price</th>
				<th>Amount</th>
				<th>Delete</th>
				<th>Update</th>
			</tr>
			<tbody>
				<tr th:each="car,iterationStatus : *{listCar}">
					<td th:text="${iterationStatus.count}"></td>
					<td th:text="${car.brand}"></td>
					<td th:text="${car.type}"></td>
					<!-- <td th:text="${car.price}"></td> -->
					<!-- <td th:if="${car.price} >= 10000">Di atas 10K</td>
					<td th:unless="${car.price} >= 10000">Di bawah 10K</td> -->
					<td th:text="${car.price} >= 100000 ? 'Di ats 100K' : 'Di bwh 100K'"></td>
					<td th:text="${car.amount}"></td>
					<td>
						<a th:href="@{/car/delete/{id}(id=${car.id})}">Delete Car</a>
					</td>
					<td>
						<a th:href="@{/car/update/{id}(id=${car.id})}">Update Car</a>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>